<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrishoekstra.trello"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >
        
        <activity
            android:label="@string/app_name"
            android:name=".activity.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity android:name=".activity.DashboardActivity"></activity>
        <activity android:name=".activity.BoardActivity"></activity>
        <activity android:name=".activity.BoardListActivity"></activity>
        <activity android:name=".activity.CardActivity"></activity>
    </application>

	<uses-permission android:name="android.permission.INTERNET" />
</manifest>